body {
    background: url("https://miro.medium.com/v2/resize:fit:5120/1*GsImz-edoeuqCMfKxDus0w.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-box {
    border: 3px solid white;
    border-radius: 30px;
    padding: 50px;
    background-color: azure;
    text-align: center;
    margin-bottom: 20px;
}

.city-button {
    margin-left: 10px;
}